  <div class="card mt-4 xx">
  <img class="card-img-top img-fluid" src="{{product.product_img}}" alt="">
  <div class="card-body">
    <h3 class="card-title">{{product.productName}} </h3>

    <h4>$ {{product.price}}</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic
      aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis
      molestias iure, ducimus!</p>
    <span class="text-warning"> {{product.rating}}</span>

  </div>


  <div   >

    <button class="bg-success float-start bb"     routerLink="/products">back</button>

    <button class="bg-danger float-end bb"    routerLink="/products/delete/{{productId}}">delete</button>
    <button class="bg-warning float-lg-end bb"  routerLink="/products/update/{{productId}}">update</button>
  </div>



</div>





