<div class="card mt-4 xx">
  <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
  <div class="card-body">
    <h3 class="card-title">productName}}</h3>

    <h4>$ price}}</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic
      aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis
      molestias iure, ducimus!</p>
    <span class="text-warning"> rating}}</span>
    4.0 stars
  </div>
</div>
<br>

